.wrapper {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genwrapper {
  padding: 20px;
  width: 300px;
  height: 300px;
  background-color: rgb(33, 34, 34);
  color: azure;
  font-size: 20px;
}

.button {
  margin-top: 110px;
  width: 300px;
  background-color: beige;
  font-size: 20px;
}

.generated-text {
  padding: 5px;
  color: azure;
  font-size: 25px;
  margin-left: 30px;
  border: solid;
  width: 200px;
  height: 28px;
  background-color: black;
}
